@media (min-width: 1025px) {
	
	.container {
		width: 80%;
        max-width: 1150px;
         
    }
    .extra {
        width: 80%;
        max-width: 1150px;
    }
   
}
 @media (max-width: 769px) {
    .brandlogo  {
      padding: 29px;   
    }
    .wrapper img {
        width: 150px;
         
     }
     .wrapper p {
         font-size: 12px;
     }
     .detail-page img { 
         margin-right: 0;
     }
 }
@media (min-width: 769px) {
    .header-top {
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;
    top: 0;
    z-index: 1000
    } 
    .container {
        width: 100%;
        margin: 0px auto;
       
        padding: 0 10px;
    }
    .logo-name {
        float: left;
       
    }
    .main-nav  {
        float: right;
       
    }
    .main-nav li {
    display: inline-block;
    margin-left: 15px;
    }
 
   
   .flexss {
    display: flex;
    flex-wrap: wrap;
    }
}

@media screen and (max-width: 750px) {
    
    .header-top {
   
        background-color: #faf7ff;
    }
    /* .logo-name a{
        color: white;
    } */
    #content, .wrapper h1{
        margin: 0;
    }
    .detail-page {
        margin-top: 0;
        width: 80%;
    }
    .extra {
        margin: 20px auto;
         
    }
    .detail-page img {
        width: 250px;
        margin-bottom: 15px;
         
    }
  
    .wrapper h1 {
        font-size: 1.1em;
    }
    .wrapper ul {
        width: 100%;
        margin: 0 auto;
        
    }
   
    .brandlogo .logo {
        width: 90px;
    }
    .brandlogo h1 {
        font-size: 1em;
    }
    .brandlogo .tag-line {
        font-size: 15px;
    }
    .container {
        position: relative;
    }
    .main-nav li{
        display: none;
        transition: 1s ease-out;
    }
    .container .btns {
     float: left;
     display: block;
    }
    
    .main-footer .fab{
        font-size: 20px;
    }

    td {
      text-align: justify;
    }
}
@media screen and (max-width: 750px) {
   .container  .btns{
       position: absolute;
       top: 15px;
       left: 25px;
   }
  
   .main-nav.responsive li {
    float: none;
    display: block;
    z-index: 1523;
    text-align: left;
    background-color: #c4e4e9;
    border-radius: 8px;
    margin: 0 auto;
    width: 30%;
  }
  .main-nav.responsive li a {
    border-radius: 8px;
    padding: 5px 2px;
   margin: 5px 0px;
   font-size: 12px;
  }
  .main-nav.responsive li a:hover{
      background-color: #1bc2db;
  }
  }
