* {
    box-sizing: border-box;
}
body {
    font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
    color: #3a3a3a;
}
 
p {
	font-size: 1.2em;
	margin-bottom: 1.8em;
}
/* .manga, .musics, .characters, .suggest {
    transition: 5s ease-out;
} */
.on {
    
    border-bottom: 2px solid #f87c16; 
   
}
.introduction {
    padding: 0 12px;
}
h2,
h3,
a {
	color: #093a58;
}
h3 {
    font-size: 30px;
}
h2,
h3,
h4 {
	margin-top: 0;
}
th {
    text-align: start;
    border-bottom: 1px dashed rgb(232, 224, 248);
}
td {
    border-bottom: 1px solid rgb(232, 224, 248);
        
}
.header-top {
    padding-top: .5em;
    padding-bottom: .5em;
    
}  
 .logo-name, .main-footer{
     text-align: center;
 }
.logo-name {
    font-size: 1.25em;
    margin: 0;
}
 
ol, ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
 
.main-nav {
    margin-top: 5px;
}
 
 
.logo-name a, .main-nav a {
    display: block;
    text-align: center;
    padding: 10px 15px;
}

#content {
    margin-top: 65px;
}

.main-nav a {
    font-size: 1em;
    color: rgb(29, 144, 135);
    text-transform: uppercase;
}

.main-footer {
    margin-top: 50px;
    background: #2412;
    padding: 30px 0;
}

.main-footer ul {
    display: inline-block;
}
.main-footer li {

    float: left;
    margin-right: 15px;
}
.fab {
    font-size: 40px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}
 
.name-logo a:visited {
    color: #3a3a3a;
}
.nl-img {
    width: 35px;
  
}
.logo {
    width: 180px;
    transition: transform .3s;
 
}
 
.logo:hover{
    transform: scale(1.1);
     
}
 
.tag-line{
    font-size: 25px;
}
.logo-express {
    margin-top: 4px;
}
.brandlogo {
    color: white;
    background: linear-gradient(to top right, rgb(114, 22, 167) , rgb(248, 31, 31));
    /* background-color: rgb(163, 54, 226); */
    text-align: center;
    padding: 9em 0 5em 0;
    margin-bottom: 70px;
    margin-top: 0;
    width: 100%;
}
 
.main-nav a  {
    transition: box-shadow .3s;
     
}
.main-nav a:hover  {
    
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
 
 img {
        width: 100%;
}
 
/* make nav disabpe */
.main-nav {
    overflow: hidden;
}

 

 
.fa-bars{
    font-size: 17px;
    margin-top: 5px;
}
.btns {
    display: none;
    width: 50px;
    background: rgb(191, 255, 132);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    text-align: center;
    transition: .7s ease-out;
}
.btns:hover {
    background: rgb(132, 223, 46);
}

/* end of fun things  */







/* Category Styles  */

.hish {
    color: lightcoral;
}
.hish:visited,.hish:link, .hish:active {
    color: lightcoral;
}
.wrapper ul{
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   justify-content: center;
      
}
.wrapper ul li {
    margin: 25px;
   
}
.wrapper h1 {
    text-align: center;
    margin-top: 100px;
}
.wrapper p {
    text-align: center;
    padding: 2px;
    background: #f06767;
    border: 1.25px solid #e4c49f;
    border-radius: 5px ;
    color: rgba(255, 251, 250, 0.972);
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    transition: 0.3s ease-out;
}
 
.wrapper img {
   width: 230px;
    
}
.wrapper p:hover{
    background: #ec1d1d;
}


/* detail page style  */
 
.detail-page{
    width: 70%;
    margin: 120px auto;
    padding: 0 10px;
}
.detail-page img {
    width: 450px;
    float: left;
    margin-right: 60px;
    padding: 15px;
    border: 1px solid lightsalmon;
    border-radius: 5px;
}
.fa-arrow-circle-left {
    color: black;
    font-size: 20px;
}
/* back button  */
.back-btn {
    margin-top: 20px;
    width: 100px;
    cursor: pointer;
    outline: none;
    border: none;
    align-items: flex-end;
}
.back-btn {
text-align: center;
padding: 5px;
background: #f0b067;
border: 1.25px solid #e4c49f;
border-radius: 5px ;
color: rgba(255, 251, 250, 0.972);
margin-right: auto;
margin-left: auto;

transition: 0.3s ease-out;
}

.back-btn:hover { 
background: #e09e53;
}

/* end of back button  */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}


/* try with the dark mode */

.dark-mode { 
    background-color: black;
    color: white;
}


.dmButton {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 15235;
    top:520px;
    left:50px;
}

svg {

	margin: auto;
 
   width: 50%;
}
 
@keyframes rotateinf{
    0%{
     transform: rotate(0);
   }
   100% {
     transform: rotate(540deg);

   }
  
 }


 @keyframes rotateout{
    0%{
     transform: rotate(540deg);
   }
   100% {
     transform: rotate(0deg);

   }
  
 }

.outer.in{
    transform-origin: 50% 50%;
    animation:  rotateinf 0.5s forwards ease-out;
}
.outer.out {
    transform-origin: 50% 50%;
    animation: rotateout 0.5s forwards ease-out;
}